<div class="container-fluid bg-light">
    <div class="container w-50 text-center mt-4">
        <p class="h1 text-dark">TODO LIST</p>
        <div class="row">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter task" [(ngModel)]="addTaskValue">
                <div class="input-group-append">
                    <button class="btn bg-success text-white" type="button" (click)="addTask()">Add</button>
                </div>
            </div>
        </div>

        <h2>Your Tasks</h2>

        <!--* task list -->
        <div class="mt-3" style="height:300px ; overflow: auto;">


            <!--*ng for loop  -->
            <div class="input-group p-1" *ngFor="let item of taskArr">
                <input type="text" class="form-control" placeholder="{{ item.task_name }}" disabled>
                <div class="input-group-append">
                    <button class="btn btn-outline-info rounded-0" type="button" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" (click)="callEdit(item)">E</button>
                    <button class="btn btn-outline-danger rounded-0" type="button" (click)="deleteTask(item)">X</button>
                </div>
            </div>
            <!--*ng for loop ends-->


            <!--* edit Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit task</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Enter task"
                                    [(ngModel)]="editValue">
                                <div class="input-group-append">
                                    <button class="btn bg-success text-white" type="button" data-bs-dismiss="modal"
                                        (click)="editTask()">update</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--* edit Modal ends -->



        </div>
    </div>
</div>